{% extends 'dragndrop/layout.html' %}
{% load static %}

{% block title %}Наблюдатель{% endblock %}

{% block menu %}
    <div class="menu-links-on" > 
        Главная
    </div>
    <div> 
        <a class="menu-links" href="#"> Выйти </a>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <!--- HERO HEADER --->
            <div class="row">
                <div class="col-md-12">
                   <div class="works-hero-bg" >
                       <div class="main-img-holder">
                            <img class="main-img" src="{% static 'dragndrop/img/paravoz.gif' %}">
                       </div>
                        <h1 class="fade-anime-bottom"> Наблюдатель </h1>
                        <h2 class="fade-anime-bottom"> обнаруживает проишествия при посадке </h2>
                   </div>
                </div>
            </div>
    <!--- THE END HERO HEADER --->

    <!--- DRAG AND DROP ZONE --->
    {% include 'dragndrop/dragndropinclude.html' %}
    <!--- THE END DRAG AND DROP ZONE --->
</div>
    
{% endblock %}

{% block footer %}
    <div class="ftr-lnk-on"> Главная </div>
    <a href="#"> <div class="ftr-lnk"> Выйти </div> </a>
{% endblock %}