<!DOCTYPE html>
<html lang="en">

    <head>
	
    <meta charset="utf-8" />	 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Transcriptor" />
    
    {% load static %}
    <link href="{% static 'dragndrop/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />	   
    <link href="{% static 'dragndrop/css/style.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'dragndrop/img/favicon.png' %}" rel="shortcut icon" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    
    <script>let SERVER_IP = '{{ SERVER_IP }}'</script>
	<script src="{% static 'dragndrop/js/modernizr.js' %}"></script>

	<title>{% block title %}{% endblock %}</title>

	</head>
	   <body>
	   
<!--- PAGE LOADING --->	
<div class="preloading fadeIn">	   
	   
		<!--- NAV BAR --->
		<div class="nav-ttl">
            <a href="/" style="color: black;">Наблюдатель</a>
		</div>
			
        <div class="right-menu">

				<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary-menu" data-toggle="modal" data-target="#exampleModalLong">
						Меню
					</button>

				<!-- Modal -->
			<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header-menu">
					<div class="menu-t">
					    <div class="open-menu-title">
						Наблюдатель
                        </div>
                        {% block menu %}{% endblock %}
						<button type="button" class="menu-close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
				</div>
				</div>
		</div>		  
	
        <!--- THE END NAV BAR ---> 
    
        {% block content %}{% endblock %}

		<!--- FOOTER --->
		<div class="container">
	            <div class="row">
                       <div class="footer-bg" >
					      <div class="col-md-4 col-xs-12">
						    <div class="shw-cs3"> Контакты </div>
							  <a> <div class="ftr-lnk"> makarsevchenko@gmail.com </div> </a>
						  </div>

					      <div class="col-md-4 col-xs-6">
                          </div>						  

					      <div class="col-md-4 col-xs-6">
                            {% block footer %}{% endblock %}
                          </div>						  
							
	                      
				       </div>
				</div>
		</div>		
		<!--- THE END FOOTER --->			
        
		<!--- SCRIPTS --->
	            <script src="{% static 'dragndrop/js/jquery-2.1.1.js' %}"></script>
                <script src="{% static 'dragndrop/js/main.js' %}"></script>
				<script src="{% static 'dragndrop/js/bootstrap.min.js' %}"></script>
		<!--- THW END SCRIPTS --->			
</div>
<!--- THE PAGE LOADING --->		
		
		</body>		
		
</html>